.mainStyle {
  max-width: 100%;
  height: 100%;
  position: relative;
}
.mapStyle {
  width: 100%;
  height: 100%;
}
.popupMain {
  display: flex;
  width: 276px;
  max-width: 276px !important;
  height: 200px;
  content: '';
  position: absolute;
  /* top: 7%;
  left: 59%; */
  transform: translateX(-50%) !important;
}
.popupTitle {
  background-color: #414548;
  font-weight: 700;
  font-size: medium;
  color: #f6f6f8;
  padding: 10px;
}
.popupInfo {
  font-weight: 400;
  font-size: 14px;
  padding: 10px;
}
.popupLabel {
  font-weight: bold;
}
.popupWebUrl {
  color: #eecda1;
}
.popupWebUrl:active,
.popupWebUrl:focus {
  outline: 0;
}

.marker {
  display: flex;
  width: 24px;
  height: 24px;
  content: '';
  background: url('../../../public/images/location.png') center / contain no-repeat;
}

.mapboxgl-popup-close-button {
  background: #000 !important;
}

@media (prefers-color-scheme: dark) {
  .popupMain > * {
    border-top-color: #1f2937 !important;
  }
  .popupMain button {
    padding: 8px !important;
    font-size: 16px;
  }
}
