@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 141, 145, 150;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 141, 145, 150;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.w-fit {
  width: fit-content;
}

.w-36 {
  width: 36rem;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: rgba(55, 65, 81, 0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(55, 65, 81, 0.3);
  border-radius: 100vh;
  /* border: 3px solid #edf2f7; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #eecda1;
}

.mapboxgl-popup-content {
  padding: 0 !important;
}

@media (prefers-color-scheme: dark) {
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(55, 65, 81, 0.1);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(55, 65, 81);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #eecda1;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
  textarea,
  input {
    font-size: 16px;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px;
    background: #eee;
  }
}
