.nav {
  backdrop-filter: blur(30px);
  box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
}

@media (prefers-color-scheme: dark) {
  .nav {
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px rgba(27, 28, 37, 0.37);
  }
}
